.container-fluid {
    background-color: rgb(122, 171, 235);
}

input {
    background-color: rgb(226, 226, 226);
    border: none;
    border-radius: 4px;
    margin: 2px;
    padding: 6px 10px;
}

h1 {
    padding-left: 15px;
}

div {
    padding: 10px;
}

.logo {
    width: 64px;
}

.form {
    padding-left: 30px;
}

button {
    background-color: rgb(226, 226, 226);
    border: none;
    border-radius: 4px;
    margin: 2px;
    padding: 6px 10px;
}

select {
    background-color: rgb(226, 226, 226);
    border: none;
    border-radius: 4px;
    margin: 2px;
    padding: 6px 10px;
}